* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --Verde: #24e431;
  --Blanco: #f3f3f3;
  --Hover: #24e431; /* Hover effects */
  --Gris: #222222;
  --Negro: #050505;
}
body {
  font-family: sans-serif;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--Negro);
}
/* Nav Bar */
.header {
  background-image: url(IMG/Header.png);
  height: 780px;
}
/* .header:hover{
    filter: blur(1px);
} */
.header .navBar {
  position: relative; /* Ajustado al contenedor header*/
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 25px 0;
  height: 10%;
  width: 100%;
  background-color: var(--Negro);
  opacity: 80%;
}
.header .navBar a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Blanco);
  margin: 0 80px;
  text-decoration: none;
  font-weight: 700;
  padding: 10px;
}
.header .navBar a:hover {
  color: var(--Hover);
  border: 2px solid var(--Hover);
  transition: 0.2s;
}
/* Texto Presentacion*/
.banner {
  max-width: 1200;
  margin: auto;
  overflow: hidden;
  display: flex;
  height: 100%;
}
.banner .empty {
  width: 50%;
  opacity: 0;
}
.banner .Duvan {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.banner .Duvan h1 {
  color: var(--Verde);
  font-family: "Gotham";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
}
/* Titulos */
.titulos {
  color: var(--Verde);
  font-family: "Gotham";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 58px;
}
/* Titulos */
.banner .Duvan h3 {
  color: var(--Blanco);
}
.banner .Duvan p {
  color: var(--Blanco);
  margin-bottom: 40px;
}
/* Galeria */
.gallery {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  display: flex;
  height: 700px;
  background-color: var(--Gris);
  justify-content: center;
}
.gallery .imgGallery {
  width: 33%;
  padding: 100px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.gallery .imgGallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.gallery .imgGallery:hover {
  background-color: var(--Hover);
  transition: 1s;
}
.gallery .imgGallery:hover img {
  opacity: 30%;
}
.gallery .imgGallery .galleryBtn {
  display: flex;
  text-decoration: none;
  color: var(--Negro);
  padding: 10px 30px;
  background-color: var(--Blanco);
  opacity: 0;
}
.gallery .imgGallery:hover .galleryBtn {
  opacity: 100%;
  transition: 1s;
  transform: translateY(-60px);
}
.gallery .imgGallery:hover .galleryBtn:hover {
  background-color: #24e43113;
  border: 2px solid var(--Blanco);
  transition: 0.3s;
  color: var(--Blanco);
  font-weight: bolder;
}
/* Mi Experiencia*/
.experience {
  display: flex;
  overflow: hidden;
  max-width: 1200px;
  height: 600px;
}
.experience .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  padding: 0 30px;
}
.experience .description h1 {
  color: var(--Verde);
  font-family: "Gotham";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 50px;
}
.experience .description p {
  color: var(--Blanco);
  margin-bottom: 50px;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}
/* .experience .description */
.btnContact {
  text-decoration: none;
  color: var(--Negro);
  background-color: var(--Blanco);
  padding: 0px 20px;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 58px;
}
/* .experience .description */
.btnContact:hover {
  color: var(--Hover);
  transition: 1s;
  background-color: var(--Negro);
  border: 2px solid var(--Hover);
}
.experience .photo {
  width: 50%;
  cursor: pointer;
}
.experience .description:hover a {
  color: var(--Hover);
  transition: 1s;
  background-color: var(--Negro);
  border: 2px solid var(--Hover);
}
.experience .photo img {
  object-fit: cover;
  width: 100%;
}
/*Soft Skills*/
.softSkills {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: var(--Gris);
}
.softSkills .tittle {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}
.softSkills .tittle h2 {
  color: var(--Verde);
  font-family: "Gotham";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 50px;
}
.softSkills .skills {
  position: relative;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}
.softSkills .skills .tools {
  width: 20%;
  text-align: center;
  cursor: pointer;
}
.softSkills .skills .tools img {
  object-fit: cover;
  width: 50%;
}
.softSkills .skills .tools p {
  color: var(--Blanco);
  font-family: "Gotham";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 50px;
  opacity: 0;
}
.softSkills .skills .tools:hover p {
  opacity: 100%;
  transition: 1s;
  transform: translateY(-40px);
}
.softSkills .skills .tools img:hover {
  opacity: 50%;
}
/*Portafolio*/

.portfolio {
  margin: 50px 50px 0px 50px;
  display: grid;
  overflow: hidden;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.portfolio .imgPort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.portfolio h1 {
  color: var(--Verde);
  font-family: "Gotham";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}
.portfolio .imgPort img {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}
.portfolio .imgPort a {
  color: var(--Negro);
  text-decoration: none;
  font-weight: 800;
  background-color: var(--Blanco);
  padding: 15px 40px;
  opacity: 0;
}
.portfolio .imgPort img:hover {
  opacity: 50%;
}
.portfolio .imgPort a:hover {
  background-color: var(--Hover);
  color: var(--Blanco);
}
.portfolio .imgPort:hover a {
  opacity: 1;
  transform: translateY(-80px);
  transition: 1s;
}
.portfolio .item1 {
  height: 400px;
}
.portfolio .item4 {
  grid-column: 1/3;
  height: 400px;
}
.portfolio .item5 {
  height: 300px;
}
.portfolio .item6 {
  height: 300px;
}
/*Contacto*/
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px;
  background-color: var(--Gris);
}
.contact .icons {
  padding: 50px 0;
}
.contact .icons a img {
  width: 120px;
  opacity: 40%;
}
.contact .icons a img:hover {
  width: 130px;
  transition: 1s;
  opacity: 100%;
}
.contact .icons:hover {
  transform: translateY(-15px);
  transition: 1s;
}
/*Footer*/
.footer {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  text-align: start;
  padding: 100px 0;
}
.footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 50%;
}
.footer div h6 {
  color: var(--Blanco);
  font-size: 24px;
  margin-bottom: 20px;
}
.footer div p {
  color: var(--Blanco);
  font-weight: 200;
}
/* Segunda pagina */
.contactoDuvan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cDuvan {
  margin-top: 60px;
  width: 800px;
}
.cDuvan a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  padding: 20px 160px;
  color: var(--Blanco);
  text-decoration: none;
  font-size: 24px;
  background-color: var(--Gris);
  border-radius: 20px;
}

.cDuvan a:hover {
  background-color: var(--Hover);
  transition: 0.6s;
}

.cDuvan a img {
  width: 100px;
}
.Duvan a p {
  color: var(--Blanco);
}
/* HDV */
.HDV {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Gris);
  flex-direction: column;
}
.HDV div h2 {
  margin-top: 50px;
}
.descriptionText {
  font-size: 14px;
  width: 300px;
  margin-left: 50px;
}
.HDV .jobs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  padding: 20px 200px;
  color: var(--Blanco);
  text-decoration: none;
  font-size: 24px;
  background-color: rgb(43, 41, 41);
  border-radius: 20px;
}
/* Gallery */
.fotos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fotos .G1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
  cursor: pointer;
}
.fotos .G1 img {
  width: 350px;
  object-fit: cover;
  height: 350px;
}
.fotos .G1 .hidden {
  opacity: 0;
  background-color: #dadada82;
  padding: 10px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  object-fit: cover;
}
.fotos .G1:hover .hidden {
  transform: translateY(-100px);
  opacity: 1;
  transition: 0.6s;
}
.fotos .G1:hover img {
  filter: blur(1px);
}
.fotos .G1 .hidden p {
  margin: 8px 0;
  font-weight: 700;
  font-size: 14px;
}
.fotos .G1 .hidden a {
  text-decoration: none;
  background-color: var(--Verde);
  padding: 8px 40px;
  color: var(--Blanco);
  font-weight: bolder;
}
.fotos .G1 .hidden a:hover {
  background-color: var(--Blanco);
  color: var(--Verde);
  font-weight: bolder;
  transition: 0.3s;
}
.tituloGaleria {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Gato */
.gato{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.gato h1{
  margin-bottom: 50px;
}
