* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
:root {
  --color1: #00d8d6;
  --color2: #1d1d1d;
  --color3: #ffd32a; /* Hover effects */
  --color4: #fff;
  --color5: #ececec;
}
@font-face {
  font-family: "Seven swordsman";
  src: url(fonts/SEVESBRG.TTF);
}
body {
  font-family: sans-serif;
}
/* ************************* Nav Bar ******************************** */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 200px;
  margin: auto;
  background: var(--color2);
}

.header .navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}
.header .navBar a {
  color: var(--color4);
  margin: 0 20px;
  text-decoration: none;
  font-weight: 700;
  transition: 1s;
}
.header .navBar a:hover{
  color: var(--color3);
}

/* **************************** Principal Banner *********************************** */
.wrapper {
  max-width: 1300px;
  margin: auto;
  overflow: hidden;
  padding: 0 30px;
  /* padding: 10px 0 0; */
}
.logo {
  display: flex;
}

.logo .nordicaLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo .nordicaLogo h1 {
  font-family: "Seven swordsman";
  font-size: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color1);
}
.logo .nordicaLogo h1 span {
  font-family: sans-serif;
  font-size: 2rem;
  color: var(--color3);
}
.logo .nordicaLogo a {
  background: var(--color1);
  padding: 20px 40px;
  border-radius: 10px;
  color: var(--color4);
  text-decoration: none;
  font-weight: bold;
  box-shadow: 8px 8px 15px gray;
  margin: 0 0 20px;
}
.logo .nordicaLogo a:hover {
  background: var(--color3);
}

.logo .imgPrincipal img {
  width: 800px;
  height: 820px;
  bottom: 0;
  object-fit: fill;
  transform: translateY(3px);
}
/* **************************** About Us ****************************** */
.aboutUs {
  width: 100%;
  background: var(--color2);
  padding-bottom: 40px;
}

.wrapperGrid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);

  grid-template-areas:
    "tittle tittle"
    "img content";
}

.aboutUs .wrapper .wrapperGrid .imgAboutUs {
  grid-area: img;
}

.aboutUs .wrapper .wrapperGrid .imgAboutUs img {
  width: 600px;
  height: 600px;
  padding: 20px;
  border-radius: 50%;
  object-fit: cover;
}
.aboutUs .wrapper .wrapperGrid h2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  /* grid-column-start: 1;
  grid-column-end: -1; */
  grid-area: tittle;
  padding: 40px 0;
  color: var(--color4);
  font-size: 42px;
}
.aboutUs .wrapper .wrapperGrid .contentAboutUs {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  color: var(--color4);
  font-size: 20px;
}
.aboutUs .wrapper .wrapperGrid .contentAboutUs a {
  margin: 20px 0 0 0;
}

/* ********************* Art Culture ************************************************ */
.artCulture {
  background: var(--color4);
  width: 100%;
}
.wrapperGridCulture {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "art art"
    "text img";
}

.artCulture .wrapper .wrapperGridCulture h2 {
  grid-area: art;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 0 20px;
  font-size: 42px;
  color: var(--color1);
}
.artCulture .wrapper .wrapperGridCulture .contentArtCulture {
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  font-size: 20px;
}
.artCulture .wrapper .wrapperGridCulture .imgArtCulture {
  grid-area: img;
}
.artCulture .wrapper .wrapperGridCulture .contentArtCulture a {
  margin: 40px 0 0 0;
}
/* ******************************** Artists Cards ****************************************** */
.artists {
  background: var(--color2);
}

.artists .gridArtists {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "tittle tittle tittle"
    "art1 art2 art3";
  padding: 0 0 40px;
}

.artists .wrapper .gridArtists h2 {
  grid-area: tittle;
  color: var(--color4);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 0;
  font-size: 42px;
}
.artists .wrapper .gridArtists .card {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5); /* Sombra cristal */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  cursor: pointer;
}
.artists .wrapper .gridArtists .card .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 30%;
  padding: 20px 0 0 0;
}
.artists .wrapper .gridArtists .card:hover {
  box-shadow: 0px 10px 10px var(--color4);
  transition: 1s;
}

.artists .wrapper .gridArtists .card:hover .content {
  opacity: 100%;
  transform: translateY(-50px);
  transition: 1s;
}

.artists .wrapper .gridArtists .card .content .img-box img {
  /* padding: 20px; */
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid gray;
}

.artists .wrapper .gridArtists .card .contact-artist {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 20px 0 0px 0;
  visibility: hidden;
}
.artists .wrapper .gridArtists .card:hover .contact-artist {
  visibility: visible;
  transform: translateY(-60px);
  transition: 1s;
}

.artists .wrapper .gridArtists .card .contact-artist li {
  list-style: none;
  color: var(--color4);
  padding: 0 15px;
  font-size: 30px;
}
.artists .wrapper .gridArtists .card .contact-artist li:hover {
  color: var(--color3);
}

.artists .wrapper .gridArtists .card .content .content-box {
  text-align: center;
  color: var(--color1);
  font-size: 32px;
  font-family: "Seven swordsman";
  margin: 0 0 20px 0;
}
.artists .wrapper .gridArtists .card .content .content-box span {
  text-align: center;
  color: var(--color4);
  font-size: 16px;
  letter-spacing: 2px;
  font-family: sans-serif;
}

/* ************************** Portfolio ****************************************** */
.services {
  padding: 0 0 30px;
}
.services .servicesGrid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);

  grid-template-areas:
    "tittle tittle tittle tittle"
    "serv1 serv2 serv3 serv4";
}
.services .wrapper .servicesGrid h2 {
  grid-area: tittle;
  text-align: center;
  padding: 30px 0;
  font-size: 42px;
}

.services .wrapper .servicesGrid .ourServices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color2);
  border-radius: 15px;
  opacity: 80%;
}

.services .wrapper .servicesGrid .ourServices .imgService img {
  margin: 20px 0 20px 0;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.services .wrapper .servicesGrid .ourServices .contentService {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 70%;
}
.services .wrapper .servicesGrid .ourServices .contentService h4 {
  text-align: center;
  color: var(--color1);
  font-size: 32px;
  font-family: "Seven swordsman";
  padding: 0 0 20px;
}
.services .wrapper .servicesGrid .ourServices .contentService p {
  text-align: center;
  color: var(--color4);
  font-family: sans-serif;
  font-weight: 400;
  padding: 0 0 30px;
}
.services .wrapper .servicesGrid .ourServices .contentService a {
  visibility: hidden; /* mostrar para el hover */
}
.services .wrapper .servicesGrid .ourServices:hover{
  opacity: 100%;
}
.services .wrapper .servicesGrid .ourServices:hover .contentService a{
  transition: 1.5s;
  transform: translateY(-20px);
  visibility: visible;
}

/* *************************** Contact Us ******************************** */
.contactUs {
  background: var(--color2);
}
.contactUs .wrapper .contactGrid {
  padding: 0 0 80px 0;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  grid-template-areas:
    "tittle tittle tittle"
    "facebook instagram whatsapp";
}
.contactUs .wrapper .contactGrid h2 {
  grid-area: tittle;
  font-family: "Seven swordsman";
  font-size: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color1);
  padding: 50px 0 0 0;
}
.contactUs .wrapper .contactGrid span {
  font-family: sans-serif;
  font-size: 2rem;
  color: var(--color3);
  transform: translateY(-15px);
}
.contactUs .wrapper .contactGrid p {
  font-size: 42px;
  color: var(--color4);
  font-family: sans-serif;
  padding: 30px 0 0 0;
}
.contactUs .wrapper .contactGrid .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactUs .wrapper .contactGrid .icon:hover{
  transform: translateY(-35px);
  transition: 1s;
  color: var(--color3);
}
.contactUs .wrapper .contactGrid .icon a:hover{
  color: var(--color3);
}
.contactUs .wrapper .contactGrid .icon a {
  color: var(--color4);
  font-size: 100px;
}
.contactUs .wrapper .contactGrid .icon p {
  font-size: 25px;
  transform: translateY(-25px);
}
/* *************************** Footer **************************************************** */
.footer {
  background: var(--color2);
  border-top: 5px solid black;
}
.footer .designerContact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color4);
  padding: 10px 10px;
}
.footer .designerContact a {
  color: var(--color4);
  font-size: 25px;
}
.footer .designerContact a:hover{
  color: var(--color3);
}
.footer .designerContact p span {
  color: var(--color1);
  padding: 0 20px;
}
/* ******************** Bottoms ********************** */
.bottom {
  background: var(--color1);
  padding: 20px 40px;
  border-radius: 10px;
  color: var(--color4);
  text-decoration: none;
  font-weight: bold;
  box-shadow: 3px 3px 10px gray;
  margin: 0 0 20px;
}

.bottom:hover {
  background: var(--color3);
}
